
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index","week", FormMethod.Get))
{
<p>請輸入數字:@Html.TextBox("num")</p>
<p>查詢結果:@ViewBag.result</p>
<input type="submit" value="送出" />
}